/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-251MS {
  background-image: url(../img/sprite6.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
.icon-252MS {
  background-image: url(../img/sprite6.png);
  background-position: -40px 0px;
  width: 40px;
  height: 40px;
}
.icon-253MS {
  background-image: url(../img/sprite6.png);
  background-position: 0px -40px;
  width: 40px;
  height: 40px;
}
.icon-254MS {
  background-image: url(../img/sprite6.png);
  background-position: -40px -40px;
  width: 40px;
  height: 40px;
}
.icon-255MS {
  background-image: url(../img/sprite6.png);
  background-position: -80px 0px;
  width: 40px;
  height: 40px;
}
.icon-256MS {
  background-image: url(../img/sprite6.png);
  background-position: -80px -40px;
  width: 40px;
  height: 40px;
}
.icon-257MS {
  background-image: url(../img/sprite6.png);
  background-position: 0px -80px;
  width: 40px;
  height: 40px;
}
.icon-258MS {
  background-image: url(../img/sprite6.png);
  background-position: -40px -80px;
  width: 40px;
  height: 40px;
}
.icon-259MS {
  background-image: url(../img/sprite6.png);
  background-position: -80px -80px;
  width: 40px;
  height: 40px;
}
.icon-260MS {
  background-image: url(../img/sprite6.png);
  background-position: -120px 0px;
  width: 40px;
  height: 40px;
}
.icon-261MS {
  background-image: url(../img/sprite6.png);
  background-position: -120px -40px;
  width: 40px;
  height: 40px;
}
.icon-262MS {
  background-image: url(../img/sprite6.png);
  background-position: -120px -80px;
  width: 40px;
  height: 40px;
}
.icon-263MS {
  background-image: url(../img/sprite6.png);
  background-position: 0px -120px;
  width: 40px;
  height: 40px;
}
.icon-264MS {
  background-image: url(../img/sprite6.png);
  background-position: -40px -120px;
  width: 40px;
  height: 40px;
}
.icon-265MS {
  background-image: url(../img/sprite6.png);
  background-position: -80px -120px;
  width: 40px;
  height: 40px;
}
.icon-266MS {
  background-image: url(../img/sprite6.png);
  background-position: -120px -120px;
  width: 40px;
  height: 40px;
}
.icon-267MS {
  background-image: url(../img/sprite6.png);
  background-position: -160px 0px;
  width: 40px;
  height: 40px;
}
.icon-268MS {
  background-image: url(../img/sprite6.png);
  background-position: -160px -40px;
  width: 40px;
  height: 40px;
}
.icon-269MS {
  background-image: url(../img/sprite6.png);
  background-position: -160px -80px;
  width: 40px;
  height: 40px;
}
.icon-270MS {
  background-image: url(../img/sprite6.png);
  background-position: -160px -120px;
  width: 40px;
  height: 40px;
}
.icon-271MS {
  background-image: url(../img/sprite6.png);
  background-position: 0px -160px;
  width: 40px;
  height: 40px;
}
.icon-272MS {
  background-image: url(../img/sprite6.png);
  background-position: -40px -160px;
  width: 40px;
  height: 40px;
}
.icon-273MS {
  background-image: url(../img/sprite6.png);
  background-position: -80px -160px;
  width: 40px;
  height: 40px;
}
.icon-274MS {
  background-image: url(../img/sprite6.png);
  background-position: -120px -160px;
  width: 40px;
  height: 40px;
}
.icon-275MS {
  background-image: url(../img/sprite6.png);
  background-position: -160px -160px;
  width: 40px;
  height: 40px;
}
.icon-276MS {
  background-image: url(../img/sprite6.png);
  background-position: -200px 0px;
  width: 40px;
  height: 40px;
}
.icon-277MS {
  background-image: url(../img/sprite6.png);
  background-position: -200px -40px;
  width: 40px;
  height: 40px;
}
.icon-278MS {
  background-image: url(../img/sprite6.png);
  background-position: -200px -80px;
  width: 40px;
  height: 40px;
}
.icon-279MS {
  background-image: url(../img/sprite6.png);
  background-position: -200px -120px;
  width: 40px;
  height: 40px;
}
.icon-280MS {
  background-image: url(../img/sprite6.png);
  background-position: -200px -160px;
  width: 40px;
  height: 40px;
}
.icon-281MS {
  background-image: url(../img/sprite6.png);
  background-position: 0px -200px;
  width: 40px;
  height: 40px;
}
.icon-282MS {
  background-image: url(../img/sprite6.png);
  background-position: -40px -200px;
  width: 40px;
  height: 40px;
}
.icon-283MS {
  background-image: url(../img/sprite6.png);
  background-position: -80px -200px;
  width: 40px;
  height: 40px;
}
.icon-284MS {
  background-image: url(../img/sprite6.png);
  background-position: -120px -200px;
  width: 40px;
  height: 40px;
}
.icon-285MS {
  background-image: url(../img/sprite6.png);
  background-position: -160px -200px;
  width: 40px;
  height: 40px;
}
.icon-286MS {
  background-image: url(../img/sprite6.png);
  background-position: -200px -200px;
  width: 40px;
  height: 40px;
}
.icon-287MS {
  background-image: url(../img/sprite6.png);
  background-position: -240px 0px;
  width: 40px;
  height: 40px;
}
.icon-288MS {
  background-image: url(../img/sprite6.png);
  background-position: -240px -40px;
  width: 40px;
  height: 40px;
}
.icon-289MS {
  background-image: url(../img/sprite6.png);
  background-position: -240px -80px;
  width: 40px;
  height: 40px;
}
.icon-290MS {
  background-image: url(../img/sprite6.png);
  background-position: -240px -120px;
  width: 40px;
  height: 40px;
}
.icon-291MS {
  background-image: url(../img/sprite6.png);
  background-position: -240px -160px;
  width: 40px;
  height: 40px;
}
.icon-292MS {
  background-image: url(../img/sprite6.png);
  background-position: -240px -200px;
  width: 40px;
  height: 40px;
}
.icon-293MS {
  background-image: url(../img/sprite6.png);
  background-position: 0px -240px;
  width: 40px;
  height: 40px;
}
.icon-294MS {
  background-image: url(../img/sprite6.png);
  background-position: -40px -240px;
  width: 40px;
  height: 40px;
}
.icon-295MS {
  background-image: url(../img/sprite6.png);
  background-position: -80px -240px;
  width: 40px;
  height: 40px;
}
.icon-296MS {
  background-image: url(../img/sprite6.png);
  background-position: -120px -240px;
  width: 40px;
  height: 40px;
}
.icon-297MS {
  background-image: url(../img/sprite6.png);
  background-position: -160px -240px;
  width: 40px;
  height: 40px;
}
.icon-298MS {
  background-image: url(../img/sprite6.png);
  background-position: -200px -240px;
  width: 40px;
  height: 40px;
}
.icon-299MS {
  background-image: url(../img/sprite6.png);
  background-position: -240px -240px;
  width: 40px;
  height: 40px;
}
.icon-300MS {
  background-image: url(../img/sprite6.png);
  background-position: -280px 0px;
  width: 40px;
  height: 40px;
}
