/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-201MS {
  background-image: url(../img/sprite5.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
.icon-202MS {
  background-image: url(../img/sprite5.png);
  background-position: -40px 0px;
  width: 40px;
  height: 40px;
}
.icon-203MS {
  background-image: url(../img/sprite5.png);
  background-position: 0px -40px;
  width: 40px;
  height: 40px;
}
.icon-204MS {
  background-image: url(../img/sprite5.png);
  background-position: -40px -40px;
  width: 40px;
  height: 40px;
}
.icon-205MS {
  background-image: url(../img/sprite5.png);
  background-position: -80px 0px;
  width: 40px;
  height: 40px;
}
.icon-206MS {
  background-image: url(../img/sprite5.png);
  background-position: -80px -40px;
  width: 40px;
  height: 40px;
}
.icon-207MS {
  background-image: url(../img/sprite5.png);
  background-position: 0px -80px;
  width: 40px;
  height: 40px;
}
.icon-208MS {
  background-image: url(../img/sprite5.png);
  background-position: -40px -80px;
  width: 40px;
  height: 40px;
}
.icon-209MS {
  background-image: url(../img/sprite5.png);
  background-position: -80px -80px;
  width: 40px;
  height: 40px;
}
.icon-210MS {
  background-image: url(../img/sprite5.png);
  background-position: -120px 0px;
  width: 40px;
  height: 40px;
}
.icon-211MS {
  background-image: url(../img/sprite5.png);
  background-position: -120px -40px;
  width: 40px;
  height: 40px;
}
.icon-212MS {
  background-image: url(../img/sprite5.png);
  background-position: -120px -80px;
  width: 40px;
  height: 40px;
}
.icon-213MS {
  background-image: url(../img/sprite5.png);
  background-position: 0px -120px;
  width: 40px;
  height: 40px;
}
.icon-214MS {
  background-image: url(../img/sprite5.png);
  background-position: -40px -120px;
  width: 40px;
  height: 40px;
}
.icon-215MS {
  background-image: url(../img/sprite5.png);
  background-position: -80px -120px;
  width: 40px;
  height: 40px;
}
.icon-216MS {
  background-image: url(../img/sprite5.png);
  background-position: -120px -120px;
  width: 40px;
  height: 40px;
}
.icon-217MS {
  background-image: url(../img/sprite5.png);
  background-position: -160px 0px;
  width: 40px;
  height: 40px;
}
.icon-218MS {
  background-image: url(../img/sprite5.png);
  background-position: -160px -40px;
  width: 40px;
  height: 40px;
}
.icon-219MS {
  background-image: url(../img/sprite5.png);
  background-position: -160px -80px;
  width: 40px;
  height: 40px;
}
.icon-220MS {
  background-image: url(../img/sprite5.png);
  background-position: -160px -120px;
  width: 40px;
  height: 40px;
}
.icon-221MS {
  background-image: url(../img/sprite5.png);
  background-position: 0px -160px;
  width: 40px;
  height: 40px;
}
.icon-222MS {
  background-image: url(../img/sprite5.png);
  background-position: -40px -160px;
  width: 40px;
  height: 40px;
}
.icon-223MS {
  background-image: url(../img/sprite5.png);
  background-position: -80px -160px;
  width: 40px;
  height: 40px;
}
.icon-224MS {
  background-image: url(../img/sprite5.png);
  background-position: -120px -160px;
  width: 40px;
  height: 40px;
}
.icon-225MS {
  background-image: url(../img/sprite5.png);
  background-position: -160px -160px;
  width: 40px;
  height: 40px;
}
.icon-226MS {
  background-image: url(../img/sprite5.png);
  background-position: -200px 0px;
  width: 40px;
  height: 40px;
}
.icon-227MS {
  background-image: url(../img/sprite5.png);
  background-position: -200px -40px;
  width: 40px;
  height: 40px;
}
.icon-228MS {
  background-image: url(../img/sprite5.png);
  background-position: -200px -80px;
  width: 40px;
  height: 40px;
}
.icon-229MS {
  background-image: url(../img/sprite5.png);
  background-position: -200px -120px;
  width: 40px;
  height: 40px;
}
.icon-230MS {
  background-image: url(../img/sprite5.png);
  background-position: -200px -160px;
  width: 40px;
  height: 40px;
}
.icon-231MS {
  background-image: url(../img/sprite5.png);
  background-position: 0px -200px;
  width: 40px;
  height: 40px;
}
.icon-232MS {
  background-image: url(../img/sprite5.png);
  background-position: -40px -200px;
  width: 40px;
  height: 40px;
}
.icon-233MS {
  background-image: url(../img/sprite5.png);
  background-position: -80px -200px;
  width: 40px;
  height: 40px;
}
.icon-234MS {
  background-image: url(../img/sprite5.png);
  background-position: -120px -200px;
  width: 40px;
  height: 40px;
}
.icon-235MS {
  background-image: url(../img/sprite5.png);
  background-position: -160px -200px;
  width: 40px;
  height: 40px;
}
.icon-236MS {
  background-image: url(../img/sprite5.png);
  background-position: -200px -200px;
  width: 40px;
  height: 40px;
}
.icon-237MS {
  background-image: url(../img/sprite5.png);
  background-position: -240px 0px;
  width: 40px;
  height: 40px;
}
.icon-238MS {
  background-image: url(../img/sprite5.png);
  background-position: -240px -40px;
  width: 40px;
  height: 40px;
}
.icon-239MS {
  background-image: url(../img/sprite5.png);
  background-position: -240px -80px;
  width: 40px;
  height: 40px;
}
.icon-240MS {
  background-image: url(../img/sprite5.png);
  background-position: -240px -120px;
  width: 40px;
  height: 40px;
}
.icon-241MS {
  background-image: url(../img/sprite5.png);
  background-position: -240px -160px;
  width: 40px;
  height: 40px;
}
.icon-242MS {
  background-image: url(../img/sprite5.png);
  background-position: -240px -200px;
  width: 40px;
  height: 40px;
}
.icon-243MS {
  background-image: url(../img/sprite5.png);
  background-position: 0px -240px;
  width: 40px;
  height: 40px;
}
.icon-244MS {
  background-image: url(../img/sprite5.png);
  background-position: -40px -240px;
  width: 40px;
  height: 40px;
}
.icon-245MS {
  background-image: url(../img/sprite5.png);
  background-position: -80px -240px;
  width: 40px;
  height: 40px;
}
.icon-246MS {
  background-image: url(../img/sprite5.png);
  background-position: -120px -240px;
  width: 40px;
  height: 40px;
}
.icon-247MS {
  background-image: url(../img/sprite5.png);
  background-position: -160px -240px;
  width: 40px;
  height: 40px;
}
.icon-248MS {
  background-image: url(../img/sprite5.png);
  background-position: -200px -240px;
  width: 40px;
  height: 40px;
}
.icon-249MS {
  background-image: url(../img/sprite5.png);
  background-position: -240px -240px;
  width: 40px;
  height: 40px;
}
.icon-250MS {
  background-image: url(../img/sprite5.png);
  background-position: -280px 0px;
  width: 40px;
  height: 40px;
}
