/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-151MS {
  background-image: url(../img/sprite4.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
.icon-152MS {
  background-image: url(../img/sprite4.png);
  background-position: -40px 0px;
  width: 40px;
  height: 40px;
}
.icon-153MS {
  background-image: url(../img/sprite4.png);
  background-position: 0px -40px;
  width: 40px;
  height: 40px;
}
.icon-154MS {
  background-image: url(../img/sprite4.png);
  background-position: -40px -40px;
  width: 40px;
  height: 40px;
}
.icon-155MS {
  background-image: url(../img/sprite4.png);
  background-position: -80px 0px;
  width: 40px;
  height: 40px;
}
.icon-156MS {
  background-image: url(../img/sprite4.png);
  background-position: -80px -40px;
  width: 40px;
  height: 40px;
}
.icon-157MS {
  background-image: url(../img/sprite4.png);
  background-position: 0px -80px;
  width: 40px;
  height: 40px;
}
.icon-158MS {
  background-image: url(../img/sprite4.png);
  background-position: -40px -80px;
  width: 40px;
  height: 40px;
}
.icon-159MS {
  background-image: url(../img/sprite4.png);
  background-position: -80px -80px;
  width: 40px;
  height: 40px;
}
.icon-160MS {
  background-image: url(../img/sprite4.png);
  background-position: -120px 0px;
  width: 40px;
  height: 40px;
}
.icon-161MS {
  background-image: url(../img/sprite4.png);
  background-position: -120px -40px;
  width: 40px;
  height: 40px;
}
.icon-162MS {
  background-image: url(../img/sprite4.png);
  background-position: -120px -80px;
  width: 40px;
  height: 40px;
}
.icon-163MS {
  background-image: url(../img/sprite4.png);
  background-position: 0px -120px;
  width: 40px;
  height: 40px;
}
.icon-164MS {
  background-image: url(../img/sprite4.png);
  background-position: -40px -120px;
  width: 40px;
  height: 40px;
}
.icon-165MS {
  background-image: url(../img/sprite4.png);
  background-position: -80px -120px;
  width: 40px;
  height: 40px;
}
.icon-166MS {
  background-image: url(../img/sprite4.png);
  background-position: -120px -120px;
  width: 40px;
  height: 40px;
}
.icon-167MS {
  background-image: url(../img/sprite4.png);
  background-position: -160px 0px;
  width: 40px;
  height: 40px;
}
.icon-168MS {
  background-image: url(../img/sprite4.png);
  background-position: -160px -40px;
  width: 40px;
  height: 40px;
}
.icon-169MS {
  background-image: url(../img/sprite4.png);
  background-position: -160px -80px;
  width: 40px;
  height: 40px;
}
.icon-170MS {
  background-image: url(../img/sprite4.png);
  background-position: -160px -120px;
  width: 40px;
  height: 40px;
}
.icon-171MS {
  background-image: url(../img/sprite4.png);
  background-position: 0px -160px;
  width: 40px;
  height: 40px;
}
.icon-172MS {
  background-image: url(../img/sprite4.png);
  background-position: -40px -160px;
  width: 40px;
  height: 40px;
}
.icon-173MS {
  background-image: url(../img/sprite4.png);
  background-position: -80px -160px;
  width: 40px;
  height: 40px;
}
.icon-174MS {
  background-image: url(../img/sprite4.png);
  background-position: -120px -160px;
  width: 40px;
  height: 40px;
}
.icon-175MS {
  background-image: url(../img/sprite4.png);
  background-position: -160px -160px;
  width: 40px;
  height: 40px;
}
.icon-176MS {
  background-image: url(../img/sprite4.png);
  background-position: -200px 0px;
  width: 40px;
  height: 40px;
}
.icon-177MS {
  background-image: url(../img/sprite4.png);
  background-position: -200px -40px;
  width: 40px;
  height: 40px;
}
.icon-178MS {
  background-image: url(../img/sprite4.png);
  background-position: -200px -80px;
  width: 40px;
  height: 40px;
}
.icon-179MS {
  background-image: url(../img/sprite4.png);
  background-position: -200px -120px;
  width: 40px;
  height: 40px;
}
.icon-180MS {
  background-image: url(../img/sprite4.png);
  background-position: -200px -160px;
  width: 40px;
  height: 40px;
}
.icon-181MS {
  background-image: url(../img/sprite4.png);
  background-position: 0px -200px;
  width: 40px;
  height: 40px;
}
.icon-182MS {
  background-image: url(../img/sprite4.png);
  background-position: -40px -200px;
  width: 40px;
  height: 40px;
}
.icon-183MS {
  background-image: url(../img/sprite4.png);
  background-position: -80px -200px;
  width: 40px;
  height: 40px;
}
.icon-184MS {
  background-image: url(../img/sprite4.png);
  background-position: -120px -200px;
  width: 40px;
  height: 40px;
}
.icon-185MS {
  background-image: url(../img/sprite4.png);
  background-position: -160px -200px;
  width: 40px;
  height: 40px;
}
.icon-186MS {
  background-image: url(../img/sprite4.png);
  background-position: -200px -200px;
  width: 40px;
  height: 40px;
}
.icon-187MS {
  background-image: url(../img/sprite4.png);
  background-position: -240px 0px;
  width: 40px;
  height: 40px;
}
.icon-188MS {
  background-image: url(../img/sprite4.png);
  background-position: -240px -40px;
  width: 40px;
  height: 40px;
}
.icon-189MS {
  background-image: url(../img/sprite4.png);
  background-position: -240px -80px;
  width: 40px;
  height: 40px;
}
.icon-190MS {
  background-image: url(../img/sprite4.png);
  background-position: -240px -120px;
  width: 40px;
  height: 40px;
}
.icon-191MS {
  background-image: url(../img/sprite4.png);
  background-position: -240px -160px;
  width: 40px;
  height: 40px;
}
.icon-192MS {
  background-image: url(../img/sprite4.png);
  background-position: -240px -200px;
  width: 40px;
  height: 40px;
}
.icon-193MS {
  background-image: url(../img/sprite4.png);
  background-position: 0px -240px;
  width: 40px;
  height: 40px;
}
.icon-194MS {
  background-image: url(../img/sprite4.png);
  background-position: -40px -240px;
  width: 40px;
  height: 40px;
}
.icon-195MS {
  background-image: url(../img/sprite4.png);
  background-position: -80px -240px;
  width: 40px;
  height: 40px;
}
.icon-196MS {
  background-image: url(../img/sprite4.png);
  background-position: -120px -240px;
  width: 40px;
  height: 40px;
}
.icon-197MS {
  background-image: url(../img/sprite4.png);
  background-position: -160px -240px;
  width: 40px;
  height: 40px;
}
.icon-198MS {
  background-image: url(../img/sprite4.png);
  background-position: -200px -240px;
  width: 40px;
  height: 40px;
}
.icon-199MS {
  background-image: url(../img/sprite4.png);
  background-position: -240px -240px;
  width: 40px;
  height: 40px;
}
.icon-200MS {
  background-image: url(../img/sprite4.png);
  background-position: -280px 0px;
  width: 40px;
  height: 40px;
}
