/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-301MS {
  background-image: url(../img/sprite7.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
.icon-302MS {
  background-image: url(../img/sprite7.png);
  background-position: -40px 0px;
  width: 40px;
  height: 40px;
}
.icon-303MS {
  background-image: url(../img/sprite7.png);
  background-position: 0px -40px;
  width: 40px;
  height: 40px;
}
.icon-304MS {
  background-image: url(../img/sprite7.png);
  background-position: -40px -40px;
  width: 40px;
  height: 40px;
}
.icon-305MS {
  background-image: url(../img/sprite7.png);
  background-position: -80px 0px;
  width: 40px;
  height: 40px;
}
.icon-306MS {
  background-image: url(../img/sprite7.png);
  background-position: -80px -40px;
  width: 40px;
  height: 40px;
}
.icon-307MS {
  background-image: url(../img/sprite7.png);
  background-position: 0px -80px;
  width: 40px;
  height: 40px;
}
.icon-308MS {
  background-image: url(../img/sprite7.png);
  background-position: -40px -80px;
  width: 40px;
  height: 40px;
}
.icon-309MS {
  background-image: url(../img/sprite7.png);
  background-position: -80px -80px;
  width: 40px;
  height: 40px;
}
.icon-310MS {
  background-image: url(../img/sprite7.png);
  background-position: -120px 0px;
  width: 40px;
  height: 40px;
}
.icon-311MS {
  background-image: url(../img/sprite7.png);
  background-position: -120px -40px;
  width: 40px;
  height: 40px;
}
.icon-312MS {
  background-image: url(../img/sprite7.png);
  background-position: -120px -80px;
  width: 40px;
  height: 40px;
}
.icon-313MS {
  background-image: url(../img/sprite7.png);
  background-position: 0px -120px;
  width: 40px;
  height: 40px;
}
.icon-314MS {
  background-image: url(../img/sprite7.png);
  background-position: -40px -120px;
  width: 40px;
  height: 40px;
}
.icon-315MS {
  background-image: url(../img/sprite7.png);
  background-position: -80px -120px;
  width: 40px;
  height: 40px;
}
.icon-316MS {
  background-image: url(../img/sprite7.png);
  background-position: -120px -120px;
  width: 40px;
  height: 40px;
}
.icon-317MS {
  background-image: url(../img/sprite7.png);
  background-position: -160px 0px;
  width: 40px;
  height: 40px;
}
.icon-318MS {
  background-image: url(../img/sprite7.png);
  background-position: -160px -40px;
  width: 40px;
  height: 40px;
}
.icon-319MS {
  background-image: url(../img/sprite7.png);
  background-position: -160px -80px;
  width: 40px;
  height: 40px;
}
.icon-320MS {
  background-image: url(../img/sprite7.png);
  background-position: -160px -120px;
  width: 40px;
  height: 40px;
}
.icon-321MS {
  background-image: url(../img/sprite7.png);
  background-position: 0px -160px;
  width: 40px;
  height: 40px;
}
.icon-322MS {
  background-image: url(../img/sprite7.png);
  background-position: -40px -160px;
  width: 40px;
  height: 40px;
}
.icon-323MS {
  background-image: url(../img/sprite7.png);
  background-position: -80px -160px;
  width: 40px;
  height: 40px;
}
.icon-324MS {
  background-image: url(../img/sprite7.png);
  background-position: -120px -160px;
  width: 40px;
  height: 40px;
}
.icon-325MS {
  background-image: url(../img/sprite7.png);
  background-position: -160px -160px;
  width: 40px;
  height: 40px;
}
.icon-326MS {
  background-image: url(../img/sprite7.png);
  background-position: -200px 0px;
  width: 40px;
  height: 40px;
}
.icon-327MS {
  background-image: url(../img/sprite7.png);
  background-position: -200px -40px;
  width: 40px;
  height: 40px;
}
.icon-328MS {
  background-image: url(../img/sprite7.png);
  background-position: -200px -80px;
  width: 40px;
  height: 40px;
}
.icon-329MS {
  background-image: url(../img/sprite7.png);
  background-position: -200px -120px;
  width: 40px;
  height: 40px;
}
.icon-330MS {
  background-image: url(../img/sprite7.png);
  background-position: -200px -160px;
  width: 40px;
  height: 40px;
}
.icon-331MS {
  background-image: url(../img/sprite7.png);
  background-position: 0px -200px;
  width: 40px;
  height: 40px;
}
.icon-332MS {
  background-image: url(../img/sprite7.png);
  background-position: -40px -200px;
  width: 40px;
  height: 40px;
}
.icon-333MS {
  background-image: url(../img/sprite7.png);
  background-position: -80px -200px;
  width: 40px;
  height: 40px;
}
.icon-334MS {
  background-image: url(../img/sprite7.png);
  background-position: -120px -200px;
  width: 40px;
  height: 40px;
}
.icon-335MS {
  background-image: url(../img/sprite7.png);
  background-position: -160px -200px;
  width: 40px;
  height: 40px;
}
.icon-336MS {
  background-image: url(../img/sprite7.png);
  background-position: -200px -200px;
  width: 40px;
  height: 40px;
}
.icon-337MS {
  background-image: url(../img/sprite7.png);
  background-position: -240px 0px;
  width: 40px;
  height: 40px;
}
.icon-338MS {
  background-image: url(../img/sprite7.png);
  background-position: -240px -40px;
  width: 40px;
  height: 40px;
}
.icon-339MS {
  background-image: url(../img/sprite7.png);
  background-position: -240px -80px;
  width: 40px;
  height: 40px;
}
.icon-340MS {
  background-image: url(../img/sprite7.png);
  background-position: -240px -120px;
  width: 40px;
  height: 40px;
}
.icon-341MS {
  background-image: url(../img/sprite7.png);
  background-position: -240px -160px;
  width: 40px;
  height: 40px;
}
.icon-342MS {
  background-image: url(../img/sprite7.png);
  background-position: -240px -200px;
  width: 40px;
  height: 40px;
}
.icon-343MS {
  background-image: url(../img/sprite7.png);
  background-position: 0px -240px;
  width: 40px;
  height: 40px;
}
.icon-344MS {
  background-image: url(../img/sprite7.png);
  background-position: -40px -240px;
  width: 40px;
  height: 40px;
}
.icon-345MS {
  background-image: url(../img/sprite7.png);
  background-position: -80px -240px;
  width: 40px;
  height: 40px;
}
.icon-346MS {
  background-image: url(../img/sprite7.png);
  background-position: -120px -240px;
  width: 40px;
  height: 40px;
}
.icon-347MS {
  background-image: url(../img/sprite7.png);
  background-position: -160px -240px;
  width: 40px;
  height: 40px;
}
.icon-348MS {
  background-image: url(../img/sprite7.png);
  background-position: -200px -240px;
  width: 40px;
  height: 40px;
}
.icon-349MS {
  background-image: url(../img/sprite7.png);
  background-position: -240px -240px;
  width: 40px;
  height: 40px;
}
.icon-350MS {
  background-image: url(../img/sprite7.png);
  background-position: -280px 0px;
  width: 40px;
  height: 40px;
}
